.navcenter-user-flight{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 300px;
}
.seat_main_1-user-ticket{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
.seat_main_5-user-ticket{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
.seat_1_main_5-user-ticket{
    padding: 25px 0px 25px 50px;
    display: flex;
    flex-direction: row;
    font-weight: bold;
    margin-left: 40px;
}
.seat_2_main_5-user-ticket{
    padding: 25px 0px 25px 50px;
    display: flex;
    flex-direction: row;
    font-weight: bold;
    margin-left: -20px;
}
.seat_3_main_5-user-ticket{
    padding: 25px 0px 25px 50px;
    display: flex;
    flex-direction: row;
    font-weight: bold;
    margin-left: -35px;
}
.seat_left_1_main_5-user-ticket{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 30px;
}
.seat_mid_1_main_5-user-ticket{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 30px;
}
.seat_right_1_main_5-user-ticket{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 23px;
}

.goto-user-flight{
    margin-right: 10px;
}
.date-user-flight{
    margin-right: 10px;
}
.time-user-flight{
    margin-right: 10px;
}

@media only screen and (max-width: 915px) {
    .navcenter-user-flight{
        border-radius: 30px;
        top: 15vh;
        height: 7vh;
        padding: 15px;
        position: fixed;
        box-shadow: 0px 1px 7px rgba(0, 0, 0, 2);
        width: 40%;
        right: 10px;
        flex-direction: row;
        transform: translateX(200%);
    }
}
.nav__active-user-flight{
    transform: translateX(0%);
} 

@media only screen and (max-width: 665px) {

    .navcenter-user-flight{
        border-radius: 30px;
        top: 8.5vh;
        height: 7vh;
        padding: 15px;
        position: fixed;
        box-shadow: 0px 1px 7px rgba(0, 0, 0, 2);
        width: 40%;
        right: 10px;
        flex-direction: row;
        transform: translateX(200%);
    }

    .goto-user-flight{
        margin-bottom: 10px;
    }
    .date-user-flight{
        margin-bottom: 10px;
    }

    .A1{
        size: 10px;
    }

}
.nav__active-user-flight{
    transform: translateX(0%);
}