.navcenter-user-flight{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 300px;
}
.seat_main_1-user-ticket{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
.seat_main_5-user-ticket{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
.seat_1_main_5-user-ticket{
    padding: 25px 0px 25px 50px;
    display: flex;
    flex-direction: row;
    font-weight: bold;
    margin-left: 40px;
}
.seat_2_main_5-user-ticket{
    padding: 25px 0px 25px 50px;
    display: flex;
    flex-direction: row;
    font-weight: bold;
    margin-left: -20px;
}
.seat_3_main_5-user-ticket{
    padding: 25px 0px 25px 50px;
    display: flex;
    flex-direction: row;
    font-weight: bold;
    margin-left: -35px;
}
.seat_left_1_main_5-user-ticket{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 30px;
}
.seat_mid_1_main_5-user-ticket{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 30px;
}
.seat_right_1_main_5-user-ticket{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 23px;
}
@media only screen and (max-width: 915px) {
    .navcenter-user-flight{
        border-radius: 30px;
        top: 15vh;
        height: 7vh;
        padding: 15px;
        position: fixed;
        box-shadow: 0px 1px 7px rgba(0, 0, 0, 2);
        width: 40%;
        right: 10px;
        flex-direction: row;
        transform: translateX(200%);
    }
}
.nav__active-user-flight{
    transform: translateX(0%);
}

@media only screen and (max-width: 665px) {

    .Home{
        display: flex;
        justify-content: center;
        align-items: center;
        background-image: url("https://images.unsplash.com/photo-1504253163759-c23fccaebb55?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxleHBsb3JlLWZlZWR8MXx8fGVufDB8fHx8fA%3D%3D&w=1000&q=80");
        object-fit: cover;
    }
    .nav-user{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .seat_main_1-user-ticket{
        display: block;
    }
    .seat_main_2{
        display: block;
    }
    .seat_main_3{
        display: block;
    }
    .seat_main_4{
        display: block;
    }

    .navcenter-user-flight{
        border-radius: 30px;
        top: 8.5vh;
        height: 7vh;
        padding: 15px;
        position: fixed;
        box-shadow: 0px 1px 7px rgba(0, 0, 0, 2);
        width: 40%;
        right: 10px;
        flex-direction: row;
        transform: translateX(200%);
    }
    .seat_main_5-user-ticket{
        display: block;
    }
    .seat_1_main_5-user-ticket{
        display: block;
    }
    .seat_2_main_5-user-ticket{
        display: block;
    }
    .seat_3_main_5-user-ticket{
        display: block;
    }
}
.nav__active-user-flight{
    transform: translateX(0%);
}