.navcenter-user-ticket{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navcenter-user-ticket{
    width: 300px;
}.dropdown-data-user-ticket {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -30px;
}
.ticket-user-ticket{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
.goto-user-ticket{
    margin-right: 10px;
}
.date-user-ticket{
    margin-right: 10px;
}
.time-user-ticket{
    margin-right: 10px;
}
.submit-user-ticket{
    display: flex;
    justify-content: center;
    align-items: center;
}
.submit-user-ticket a{
    margin-top: -25px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    outline: none;
    border-radius: 30px;
    width: 200px;
    height: 35px;
    padding: 0px 5px;
    box-shadow: 0px 1px 7px rgba(0, 0, 0, 2);
}

.next a::first-line{
    color: white;
}


@media only screen and (max-width: 915px) {

    .navcenter-user-ticket{
        border-radius: 30px;
        top: 15vh;
        height: 7vh;
        padding: 15px;
        position: fixed;
        box-shadow: 0px 1px 7px rgba(0, 0, 0, 2);
        width: 40%;
        right: 10px;
        flex-direction: row;
        transform: translateX(200%);
    }

    .submit-user-ticket a{
        background-color: rgb(165, 163, 163);
        box-shadow: 0px 1px 7px rgba(0, 0, 0, 2);
        color: white;
    }
}
.nav__active-ticket{
    transform: translateX(0%);
}

@media only screen and (max-width: 665px) {

    .navcenter-user-ticket{
        border-radius: 30px;
        top: 23vh;
        height: 13vh;
        padding: 15px;
        position: fixed;
        box-shadow: 0px 1px 7px rgba(0, 0, 0, 2);
        width: 40%;
        right: 20px;
        flex-direction: column;
        transform: translateX(200%);
    }

    .submit-user-ticket{
        margin-top: 4rem;
    }

    .submit-user-ticket a{
        background-color: white;
        box-shadow: 0px 1px 7px rgba(0, 0, 0, 2);
        color: black;
    }

    .dropdown-data-user-ticket{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .ticket-user-ticket{
        width: 250px;
    }
    .ticket-form{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 150px;
        background-color: #fff;
    }
    .goto-user-ticket{
        margin-bottom: 10px;
    }
    .date-user-ticket{
        margin-bottom: 10px;
    }
    .time-user-ticket{
        margin-bottom: 10px;
    }
}
.nav__active-ticket{
    transform: translateX(0%);
}